.cb-slideshow li:nth-child(1) span {
    background-image: url(./../img/banner/banner1.jpg);
}

.cb-slideshow li:nth-child(2) span {
    background-image: url(./../img/banner/banner2.jpg);
}

.cb-slideshow li:nth-child(3) span {
    background-image: url(././../img/banner/banner3.jpg);
}

.cb-slideshow li:nth-child(4) span {
    background-image: url(./../img/banner/banner4.jpg);
}

.cb-slideshow li:nth-child(5) span {
    background-image: url(./../img/banner/banner5.jpg);
}

.cb-slideshow li:nth-child(6) span {
    background-image: url(./../img/banner/banner6.jpg);
}