.slick-prev {
  left: 2px;
  z-index: 99;

  height: 100%;
  width: 10%;
  cursor: url(./../img/icon-prev.png), w-resize !important;
}

.slick-prev:before,
.slick-next:before {
  content: '';
}

.slick-next {
  right: 0px;
  z-index: 99;
  height: 100%;
  width: 10%;
  cursor: url(./../img/icon-next.png), w-resize !important;
}